<html class="js bootstrap-anchors-processed" dir="ltr" lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>SF State Auto Screening</title>
    <link href="https://idp.sfsu.edu/idp/css/css2.css" rel="stylesheet" type="text/css">

    <script src="https://idp.sfsu.edu/idp/js/jquery_002.js"></script>
    <script src="https://idp.sfsu.edu/idp/js/jquery.js"></script>
    <script src="https://idp.sfsu.edu/idp/js/bootstrap.js"></script>
    <script src="https://idp.sfsu.edu/idp/js/style.js"></script>
</head>

<body class="html not-logged-in bg">


    <div id="main" class="container-fluid container center-login">
        <div class="row ">
            <div class="centered-element">
                <img class="img-responsive" src="https://idp.sfsu.edu/idp/images/SFState_Logo.png"
                    alt="San Francisco State University logo">
                <h1 class="text-center margin-15 padding-15">SF State Auto Screening Login</h1>

                <form title="SF State Global Login" action="" method="post" autocomplete="off">

                    <div class="form-group">
                        <label for="username">SF State ID or Email</label>
                        <input class="form-control" id="username" name="username" type="text" tabindex="1" value=""
                            autofocus="">

                    </div>
                    <div class="form-group">
                        <label for="password" class="control-label">SF State Password</label>
                        <input class="form-control" id="password" name="password" tabindex="2" type="password" value="">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary-true btn-lg btn-block" type="submit" name="_eventId_proceed"
                            tabindex="3"
                            onclick="this.childNodes[0].nodeValue='Generating form, please wait...'">Generate</button>
                    </div>
                </form>

                <p class="text-center padding-top-20">
                    <a class="login" href="https://its.sfsu.edu/helpsignin">Get help signing in</a>
                </p>
                <small class="text-right">This website is not official and it would not keep any information about the
                    users.</small>
            </div>
        </div>
    </div>


</body>

</html>